.page-title {
    text-align: center;
    color: var(--yellow);
    margin-top: 35px;
}
.contact {
    margin-top: 20px !important;
}
.modal-dialog {
    margin-top: 260px !important;
}
.modal-content {
    border: 3px solid black;
    box-shadow: 12px 12px 2px 1px rgb(0,100,200,0.25);
}

/* Bug fixed: Modal backdrop taking over modal dialog */
.modal, .modal * {
    z-index: 1050 !important;
}
.modal-backdrop {
    z-index: 1040 !important; 
    opacity: .75 !important;
}
body.modal-open .body-fixed { 
    position: unset 
}