.text-large {
    font-size: 150%;
}
#credited {
    color: ghostwhite;
    transition: background-color 400ms;
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
}

#credited ul {

  font-family: 'Montserrat', sans-serif;
}