.site-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: var(--darkblue);

}

@media screen AND (max-width:768px) {
    .site-header {
        flex-flow: column nowrap;
    }
    .logo-wrapper, .taglines {
        margin-top: 30px !important;
    }
}

.page-title-wrapper { 
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 10px;
}
.logo-wrapper {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

}

.page-title-wrapper img.logo { 
    width: 80px;
    height: 80px;
    margin-left: 20px;
}

.page-title-wrapper > .taglines { 
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color:white;

}
.taglines {
    margin-top: 10px;
    font-weight: 600;
}
.tagline-a {
    text-transform: uppercase;
    color: var(--blue);
    font-size: 2rem;
    line-height: 2rem;
}
.tagline-b {
    font-size: 1.34rem;
    line-height: 1.4rem;
    color: var(--yellow);
}
.tagphrase-b {
    -webkit-text-stroke: 0.5px var(--yellow);
    -webkit-text-fill-color: transparent; 
    font-weight: 700;
}

/* Smaller logo on tablet and mobile so does not collide with menu and does not look too large */

@media (max-width: 1398px) {
    .page-title-wrapper img.logo { 
        width: 72px;
        height: 72px;
        margin-left: 20px;
    }
    .tagline-a {
        text-transform: uppercase;
        color: var(--blue);
        font-size: 1.8rem;
        line-height: 1.8rem;
    }

    .tagline-b {
        font-size: 1.2rem;
        line-height: 1.3rem;
        color: var(--yellow);
    }
}


@media (max-width: 501px) {
    .page-title-wrapper img.logo {
        position: relative;
        top: -15px;
    }
    .logo {
        margin: 5px;
        margin-top: 30px;
    }
    .site-nav-mobile-btn {
        margin-top:20px;
        margin-right:10px;
    }
}