:root {
    --blue: rgb(77,171,214);
    --yellow: rgb(250,225,75);
}


.site-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}

.page-title-wrapper { 
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 10px;
}

.page-title-wrapper img { 
    width: 80px;
    height: 80px;
    margin-top: 30px;
    margin-left: 20px;
}

.page-title-wrapper > .taglines { 
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color:white;

}
.taglines {
    margin-top: 10px;
    font-weight: 600;
}
.tagline-a {
    text-transform: uppercase;
    color: var(--blue);
    font-size: 2rem;
    line-height: 2rem;
}
.tagline-b {
    font-size: 1.34rem;
    line-height: 1.4rem;
    color: var(--yellow);
}
.tagphrase-b {
    -webkit-text-stroke: 0.5px var(--yellow);
    -webkit-text-fill-color: transparent; 
    font-weight: 700;
}