/** Header **/

.site-header {
    margin: -7.5px 0 0 0;
    padding: 0;
    /* background-color: #36322f; */
    background-color: rgba(24, 38, 50, .97);
    /* Sticky bar */
    /* position: sticky;
    top: 0; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Sticky bar scroll threshold for element to stick in place */
    min-height: 130px;
    z-index: 10;
    max-height: 570px;
    overflow-y: scroll;
}

/* .site-header .page-title {
    padding: 5px;
    margin: 30px 0 20px 10px;
    color: rgb(36, 69, 92);
    background-color: #453647;
    font-weight: 800;
    box-shadow: 5px 5px #4d4844;
    border-radius: 15px;
    padding: 10px;
    background-image: linear-gradient(to right, #E88D62, #A88D62);
    background-size: cover;
    float: left;
} */

.site-nav li a {
    color: var(--yellow);
    font-weight: 500;
    text-decoration: none;
    transition: all 500ms ease-in;
    letter-spacing: 1.5px;
}
.site-nav li:not(:first-child)::before {
    content: "\00a0\00a0\00a0\00a0•\00a0\00a0\00a0\00a0";
    color: var(--yellow);
}


.site-nav li a:visited {
    color: var(--yellow);
    text-decoration: none;
    transition: color 500ms;
}

.site-nav li a:active,
.site-nav li a:hover {
    text-decoration: underline;
}

.site-nav li a.active {

    filter: saturate(400%);
    text-decoration: underline;
}

/* a.text-bold-colored {
    filter: saturate(400%);
    text-decoration: underline;
} */

/* .site-nav ul#nav-primary {
    font-size: 18px;
} */

.site-nav ul#nav-secondary {
    padding: 20px 0 0;
    font-size: 14px;
}

.site-nav ul li {
    padding: 10px 0;
    width: 100%;
    list-style-type: none;
    display: block;
    /* border-top: 1px solid gray; */
    margin: 0 auto;
    text-align: center;
}

.site-nav ul li:hover {
    background-color: rgba(calc(185*1), calc(58*.6), calc(63*.6), .5);
}


/** Mobile First Menu **/

.site-nav-mobile-btn {
    /* float: right; */
    position: absolute;
    top:0;
    right:0;
    margin: 25px 20px 0 0;
    cursor: pointer;
    /* border: 2px solid #fff; */
    border: 2px solid var(--yellow);
    border-radius: 3px;
    /* color: rgba(255, 255, 255, 0.8); */
    color: var(--yellow);
    padding: 5px;
    min-width: 33px;
    max-width: 33px;
    text-align: center;
}

.site-nav:not(.active) .site-nav-mobile-btn::before {
    content: "\f7a4";
}

.site-nav.active .site-nav-mobile-btn::before {
    content: "X";
    font-family: sans-serif;
}

.site-nav-mobile-btn:hover {
    /* color: rgba(0, 0, 0, 0.8); */
    color: rgba(225, 255, 255, 1);
    /* border: 2px solid rgba(0, 0, 0, 0.8); */
    border: 2px solid rgba(225, 255, 255, 1);
}

.site-nav.active .site-nav-mobile-btn {
    /* color: black; */
    color: rgba(225, 255, 255, 1);
    /* border: 2px solid rgba(0, 0, 0, 0.6); */
    border: 2px solid rgba(225, 255, 255, 1);
}

.site-nav.active .site-nav-mobile-btn:hover {
    color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.6);
}


/* Wider */

#navs {
    height: 100%;
    display: flex !important;
    flex-flow: column nowrap;
    justify-content: center;
}
ul#nav-primary {
    margin-right: 15px;
    margin-bottom: 0; /* Reboot code likes to put margin=bottom to 1rem */
}
@media (min-width: 1398px) {
    #navs {
        margin-right: 15px;
    }
    .site-nav-mobile-btn {
        display: none;
    }
    .site-nav.active #navs,
    .site-nav:not(.active) #navs {
        display: block;
    }
    .site-nav #navs {
        float: right;
    }
    .site-nav ul#nav-primary {
        float: right;
        font-size: 1.34rem;
    }
    .site-nav ul#nav-secondary {
        float: right;
        margin: 0;
        padding: 0;
        /* padding: 30px 0;
        margin: 0 15px; */
        font-size: 14px;
        border-top: 1px solid rgba(255, 255, 255, 0.8);
    }
    .site-nav ul li {
        display: inline-block;
        text-align: center;
        list-style-type: none;
        width: auto;
        border-top: none;
    }
    .site-nav ul li:hover {
        background-color: transparent;
    }
}


/* Smaller */

@media (max-width: 1398px) {
    .site-nav li:not(:first-child)::before {
        content: "";
        margin-left: auto;
    }
    .site-nav:not(.active) #navs {
        display: none !important;
    }
    .site-nav.active #navs {
        display: block !important;
    }
    .site-nav #nav-secondary {
        padding-left: 0;
        border-top: 1px solid gray;
        margin: 0 40px;
    }
    .site-nav br {
        display: none;
    }
    .spacer-bottom-mobile {
        width: 1px;
        height: 30px;
    }
    ul#nav-primary {
        border-top:1px solid gray;
        height:100%;
        padding-left: 0 !important;
        padding-top: 20px;
        margin-top:5px;
        margin-right:65px;
    }
}

/* Mobile have to reverse the iPad style */
@media (max-width:768px) {
    ul#nav-primary {
        margin-right: 0;
    }
}