/** Header **/

.site-header {
    margin: -7.5px 0 0 0;
    padding: 0;
    /* background-color: #36322f; */
    background-color: rgba(24, 38, 50, .9);
    /* Sticky bar */
    position: sticky;
    top: 0;
    /* Sticky bar scroll threshold for element to stick in place */
    min-height: 130px;
    z-index: 10;
}

.site-header .page-title {
    padding: 5px;
    margin: 15px 0 20px 10px;
    color: white;
    background-color: #453647;
    font-weight: 800;
    box-shadow: 5px 5px #4d4844;
    border-radius: 15px;
    padding: 10px;
    /* background: #4d4844 url("../../img/coding-stock.jpg") repeat scroll 50% 50%; */
    background: rgba(80, 58, 50) url("../../img/coding-stock.jpg") repeat scroll 50% 50%;
    background-size: cover;
    float: left;
}

.site-nav li a {
    color: white;
    text-decoration: none;
    transition: color 500ms;
    letter-spacing: 1px;
}

.site-nav li a:visited {
    color: white;
    text-decoration: none;
    transition: color 500ms;
    letter-spacing: 1px;
}

.site-nav li a:active,
.site-nav li a:hover {
    color: white;
    text-decoration: underline;
}

.site-nav ul#nav-primary {
    padding: 100px 0 0 0;
    font-size: 18px;
    /* Menu needs to be lower than hamburger icon */
}

.site-nav ul#nav-secondary {
    padding: 20px 0 0;
    font-size: 14px;
}

.site-nav ul li {
    padding: 10px 0;
    width: 100%;
    list-style-type: none;
    display: block;
    /* border-top: 1px solid gray; */
    margin: 0 auto;
    text-align: center;
}

.site-nav ul li:hover {
    background-color: rgba(calc(185*1), calc(58*.6), calc(63*.6), .5);
}


/** Mobile First Menu **/

.site-nav-mobile-btn {
    float: right;
    margin: 15px 20px 0 0;
    cursor: pointer;
    /* border: 2px solid #fff; */
    border: 2px solid #FFCB78;
    border-radius: 3px;
    /* color: rgba(255, 255, 255, 0.8); */
    color: #FFCB78;
    padding: 5px;
    min-width: 33px;
    max-width: 33px;
    text-align: center;
}

.site-nav-mobile-btn:not(.fa-grip-lines)::before {
    content: "X";
    font-family: sans-serif;
}

.site-nav-mobile-btn:hover {
    /* color: rgba(0, 0, 0, 0.8); */
    color: rgba(225, 255, 255, 1);
    /* border: 2px solid rgba(0, 0, 0, 0.8); */
    border: 2px solid rgba(225, 255, 255, 1);
}

.site-nav.active .site-nav-mobile-btn {
    /* color: black; */
    color: rgba(225, 255, 255, 1);
    /* border: 2px solid rgba(0, 0, 0, 0.6); */
    border: 2px solid rgba(225, 255, 255, 1);
}

.site-nav.active .site-nav-mobile-btn:hover {
    color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.6);
}


/* Smaller */

@media (max-width: 1398px) {
    .site-nav:not(.active) #navs {
        display: none !important;
    }
    .site-nav.active #navs {
        display: block !important;
    }
    .site-nav #nav-secondary {
        padding-left: 0;
        border-top: 1px solid gray;
        margin: 0 40px;
    }
    .site-nav br {
        display: none;
    }
    .spacer-bottom-mobile {
        width: 1px;
        height: 30px;
    }
}


/* Wider */

@media (min-width: 1398px) {
    #navs {
        margin-right: 15px;
    }
    .site-nav-mobile-btn {
        display: none;
    }
    .site-nav.active #navs,
    .site-nav:not(.active) #navs {
        display: block;
    }
    .site-nav #navs {
        float: right;
    }
    .site-nav ul#nav-primary {
        float: right;
        padding: 20px 5px 0 0;
        font-size: 18px;
    }
    .site-nav ul#nav-secondary {
        float: right;
        margin: 0;
        padding: 0;
        /* padding: 30px 0;
        margin: 0 15px; */
        font-size: 14px;
        border-top: 1px solid rgba(255, 255, 255, 0.8);
    }
    .site-nav ul li {
        display: inline-block;
        text-align: center;
        list-style-type: none;
        width: auto;
        border-top: none;
        margin-left: 60px;
    }
    .site-nav ul li:hover {
        background-color: transparent;
    }
}