
#student-ratings-browser {
    position:sticky;
    top: 5px;
    z-index:999;
    color: var(--darkblue-alpha3);
    margin: 30px auto;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.2), rgba(255,255,255, 0.5));
}
i.browse-left {
    margin-right: 15px;
    display: inline-block;
}

i.browse-right {
    margin-left: 15px;
    display: inline-block;
}
i.browse-left:not(.text-darkgray) {
    -webkit-text-stroke: 1px rgba(0,0,0,0.75);
}

i.browse-right:not(.text-darkgray) {
    -webkit-text-stroke: 1px rgba(0,0,0,0.75);
}
.mobile-instructions {
    display: none;
    margin-top: 10px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.2), rgba(255,255,255, 0.5));

}
/* @media screen and (max-width: 768px) {
    .mobile-instructions {
        display: block;
    }
    
} */

/* 
.flushed-left,
.flushed-right {
    width: 4ch;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: rgba(0,0,0,.2);
} */

/* .flushed-left {
    position: absolute;
    left: 10px;
    top: 190px;
    z-index: 5;
}

.flushed-right {
    position: absolute;
    right: 10px;
    top: 190px;
    z-index: 5;
} */

/* .rotation img {
    display: block;
    text-align: center;
    margin:0 auto;

}
@media screen AND (max-width:768px) {
    .rotation img {
        min-width:100%;
        max-width:100%;
    }
}

@media screen AND (min-width:992px) {
    .rotation img {
        min-width: 992px;
        max-width: 25vw;
    }
} */

img.tutor-request-feedback {
    width:1556px;
    height:auto;
    margin: 0 auto 0 0;
    display: block;
}
img.tutor-la-misc {
    width: 756px;
    height:auto;
    display: block;
    margin: 0 auto;
}
@media screen AND (max-width:768px) {
    img.tutor-la-misc {
        width: 100%;
        height:auto;
        display: block;
        margin: 0 auto;
    }
}