
#students {
    background-color: white;
    background: white;
}

#student-ratings-browser {
    position:sticky;
    top: 0;
    left: 0;
    margin: 0 !important;
    z-index:999;
    color: var(--darkblue-alpha3);
    /* margin: 30px auto; */
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    /* margin-right: 20px; */
    padding-top: 20px;
    padding-bottom: 20px;
    /* background: linear-gradient(to bottom, rgba(255,255,255,0.2), rgba(255,255,255, 0.5)); */
}
@media screen AND (max-width:768px) {
    #tutor-students-ratings-testimonials {
        display: none;
    }
}
#student-ratings-browser.sticked-white {
    background: #eee !important;
}
i.browse-left {
    margin-right: 15px;
    display: inline-block;
}

i.browse-right {
    margin-left: 15px;
    display: inline-block;
}
i.browse-left:not(.text-darkgray) {
    -webkit-text-stroke: 1px rgba(0,0,0,0.75);
}

i.browse-right:not(.text-darkgray) {
    -webkit-text-stroke: 1px rgba(0,0,0,0.75);
}
#tutor-request-feed-back-wrapper {
    margin: 1rem 15px;
    width: calc(100% - 30px);
    overflow-x: scroll;
    background-color: white;
}
@media screen AND (max-width:768px) {
    #tutor-request-feed-back-wrapper {
        display:none;
    }
}

#student-ratings-iframe-wrapper {
    position: sticky;
    top: 80px;
    width:100%;
    height: calc(100vh - 130px);
    /* height: 100vh; */
    /* height: calc(100vh - 15px); */
    /* height:auto; */
    /* "Students" browser headline */
    /* Minus out sticky student header, footer, and some breathing space*/
    /* No need to minus out site header because at on scroll when bounding client rect top reaches a certain px, it will hide site header */
    /* padding-left: 15px;
    padding-right: 15px; */
}
#student-ratings-iframe-wrapper iframe {
    /* margin-left: 15px;
    margin-right: 15px; */
}

.mobile-instructions {
    display: none;
    margin-top: 10px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.2), rgba(255,255,255, 0.5));

}
/* @media screen and (max-width: 768px) {
    .mobile-instructions {
        display: block;
    }
    
} */

/* 
.flushed-left,
.flushed-right {
    width: 4ch;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: rgba(0,0,0,.2);
} */

/* .flushed-left {
    position: absolute;
    left: 10px;
    top: 190px;
    z-index: 5;
}

.flushed-right {
    position: absolute;
    right: 10px;
    top: 190px;
    z-index: 5;
} */

/* .rotation img {
    display: block;
    text-align: center;
    margin:0 auto;

}
@media screen AND (max-width:768px) {
    .rotation img {
        min-width:100%;
        max-width:100%;
    }
}

@media screen AND (min-width:992px) {
    .rotation img {
        min-width: 992px;
        max-width: 25vw;
    }
} */

img.tutor-request-feedback {
    width:1556px;
    height:auto;
    margin: 0 auto 0 0;
    display: block;
}
img.tutor-la-misc {
    width: 756px;
    height:auto;
    display: block;
    margin: 0 auto;
}
@media screen AND (max-width:768px) {
    img.tutor-la-misc {
        width: 100%;
        height:auto;
        display: block;
        margin: 0 auto;
    }
}

/* #student-ratings-browser {
    position: unset !important;
} */

.rotation.rotation-1 {
    background-color: white !important;
}
 
img.tutor-request-feedback {

    max-width: 1556px;
    height: auto;
    margin: 0 auto;
    display: block;
    border: 1px solid black;
}