.client-testimonials img {
    display: block;
    text-align: center;
    margin: 20px 60px;
}

@media screen AND (max-width:768px) {
    .client-testimonials img {
        /* margin: 20px auto; */
        margin:0;
        width: 100%;
    }
}

@media screen AND (min-width:992px) {
    .client-testimonials img {
        min-width: 992px;
        max-width: 25vw;
        margin: 20px auto;
    }
}