
/* ********** */
/* YT Gallery */
/* ********** */

.carousel-wrapper {
    width: 50%;
    max-height:500px;
    min-height:500px;
    margin: 15px 0 0 0;
    border: 1px solid black;
    /* background-color: rgb(200, 70, 0, 0.1); */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 871px) {
    .side-c {
        justify-content: center;
    }
    .carousel-wrapper {
        /* width: -webkit-fill-available;
        box-sizing: border-box; */
        width: calc(100vw - 30px);
        max-width: calc(100vw - 30px);
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .carousel-control-prev {
        left: -15px;
    }
    .carousel-control-next {
        right: -15px;
    }
    .main-content {
        width: calc(100vw - 30px);
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.carousel.slide {
    padding: 35px;
}

.yt-gallery-header {

    display: inline-block;
    width: 100%;
    text-align: center;
    height: 90px;
    margin-bottom: 15px;
    overflow: hidden;
}

.yt-gallery-header h3 {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, .5);
    margin: 0;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    /* font-family: "Playfair Display", Sans-serif;  */
    font-family: 'Roboto', sans-serif;
    padding: 0 !important;
}

.yt-gallery-header a {
    color: ghostwhite !important;
    text-decoration: none !important;
}

.yt-gallery-header a:hover {
    color: #FF0000 !important;
}

.carousel-item img {
    width: 339px;
    height: 179px;
}

.carousel-control-prev, .carousel-control-next {
    margin-bottom:30px;
}

.carousel-caption {
    position: unset;
    bottom: unset;
    right: unset;
    color: #427EA8 !important;
    cursor: pointer;
    min-height: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: rgb(36, 69, 92) !important;
    padding: 0 !important;
    transform: translateY(-20px);
}

.carousel-indicators {
    bottom: 35px;
}

.carousel-indicators button {
    margin-right: 0.5em;
    width: 30px;
    height: 5px;
}

.carousel-indicators button.active {
    background-color: lightblue;
}


.carousel.slide {
    padding: 0;
}
.video-responsive-wrapper {
    height: 310px;
    width: calc(310px * 1.777777777777778);
    min-height: 310px;
    min-width: calc(310px * 1.777777777777778);
    text-align: center;
    margin: 0 auto;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}