h3 {
    font-size: 1.15rem;
    text-decoration: underline !important;
}

.page-whoami  {
    font-family: 'Roboto', sans-serif;
}

.page-whoami a {
    text-decoration: none !important;
}
.page-whoami a {
    color: #427EA8 !important;
}
.page-whoami a:hover {
    color: rgb(36, 69, 92) !important;
}

.gh-contributions {
    vertical-align: middle;
    max-width: 60vw;
    margin: 10px auto;
}

@media screen and (max-width: 950px) {
    .gh-contributions {
        max-width: 100%;
    }
    .page-whoami ul {
        list-style: none;
    }
}