h3 {
    font-size: 1.15rem;
    text-decoration: underline !important;
}

.blur-gradient {
    position: relative;
    /* height:100%;
    width: 50vw; */
    background: linear-gradient(to right, #333, #000, #333);
    opacity: 0.8;
}

.blur-gradient::before,
.blur-gradient::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    opacity: .85;
}

.blur-gradient::before {
    left: 0;
    background: inherit;
    filter: blur(20px);
}

.blur-gradient::after {
    right: 0;
    background: inherit;
    filter: blur(20px);
}


/* ***** */

.page-whoami {
    /* font-family: 'Roboto', sans-serif; */
}


.page-whoami .main-content {
    border: 1px solid black;
    background-color: ghostwhite;
}
.page-whoami .main-content header.header {
    background-color: rgba(0,0,0,0.5);
    padding: 35px;
    color:white;
}
.page-whoami .main-content section.body {
    padding: 35px;
}

.page-whoami a {
    text-decoration: none !important;
}

.page-whoami a {
    color: #427EA8 !important;
}

.page-whoami a:hover {
    color: rgb(36, 69, 92) !important;
}


/* *********** */
/* Me caption  */
/* *********** */

.pic-me-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  /* margin: 20px 0 10px; */
  color: #333;
}

.pic-me-title {
  font-family: 'Roboto', sans-serif; 
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
  color: #666;
}

/* ********** */
/* YT Gallery */
/* ********** */

.carousel-wrapper {
    width: 50%;
    max-height:500px;
    min-height:500px;
    margin: 15px 0 0 0;
    border: 1px solid black;
    background-color: rgb(200, 70, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 871px) {
    .side-c {
        justify-content: center;
    }
    .carousel-wrapper {
        /* width: -webkit-fill-available;
        box-sizing: border-box; */
        width: calc(100vw - 30px);
        max-width: calc(100vw - 30px);
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .carousel-control-prev {
        left: -15px;
    }
    .carousel-control-next {
        right: -15px;
    }
    .main-content {
        width: calc(100vw - 30px);
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.carousel.slide {
    padding: 35px;
}

.yt-gallery-header {

    display: inline-block;
    width: 100%;
    text-align: center;
    height: 90px;
    margin-bottom: 30px;
    overflow: hidden;
}

.yt-gallery-header h3 {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, .5);
    margin: 0;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    /* font-family: "Playfair Display", Sans-serif;  */
    font-family: 'Roboto', sans-serif;
    padding: 35px;
}

.yt-gallery-header a {
    color: #FF0000 !important;
    text-decoration: none !important;
}

.yt-gallery-header a:hover {
    color: #FF0000 !important;
}

.carousel-item img {
    width: 339px;
    height: 179px;
}

.carousel-control-prev, .carousel-control-next {
    margin-bottom:30px;
}

.carousel-caption {
    position: unset;
    bottom: unset;
    right: unset;
    color: #427EA8 !important;
    cursor: pointer;
    min-height: 120px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.carousel-caption {
    color: rgb(36, 69, 92) !important;
}

.carousel-indicators {
    bottom: 35px;
}

.carousel-indicators button {
    margin-right: 0.5em;
    width: 30px;
    height: 5px;
}

.carousel-indicators button.active {
    background-color: lightblue;
}



/* *********** */
/* Author Line */
/* *********** */

.author {
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 30px;
}


/* *********** */
/* Tech Icons  */
/* *********** */

[data-is-colored] {
    margin-left: 2.5px;
    margin-bottom:-2.5px;
    vertical-align: text-bottom;
    padding: 5px;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 2.5px;
    /* font-family: 'Roboto', sans-serif; */
    transition: all 300ms ease-in;
}

[data-is-colored="React"] {
    color: #61dafb !important;
    background-color: gray;
}

[data-is-colored="Express"] {
    color: #444 !important;
    background-color: #F5F5F5;
    border:1px solid rgba(0,0,0,.7);
}

[data-is-colored="Mongo"] {
    color: #4faa41 !important;
    background-color: lightgray;
}

[data-is-colored="Javascript"] {
    color: #f0db4f !important;
    background-color: gray !important;
}

[data-is-colored="jQuery"] {
    color: #0769ad !important;
    background-color: lightgray !important;
}

[data-is-colored="PHP"] {
    color: #6181b6 !important;
    background-color: lightgray !important;
}

[data-is-colored="MySQL"] {
    color: #00618a !important;
    background-color: lightgray !important;
}

[data-is-colored="NodeJS"] {
    color: #83cd29 !important;
    background-color: black !important;
}

[data-is-colored="GCloud"] {
    color: #557ebf !important;
    background-color: lightgray !important;
}

[data-is-colored="AWS"] {
    color: #f7a80d !important;
    background-color: black !important;
}
 
[data-is-colored="Python"] {
    color: #ffd845 !important;
    background-color: #235F8B !important;
}
[data-tech="AIPromptEngineering"] {
    background-size: 20px 20px !important;
    font-family: 'devicon' !important;
}
[data-is-colored="AIPromptEngineering"] {
    background-blend-mode: invert !important;
    filter: invert(1) !important;
    background-color: white !important;
}


.gh-contributions {
    vertical-align: middle;
    max-width: 60vw;
    margin: 10px auto;
}

@media screen and (max-width: 950px) {
    .gh-contributions {
        max-width: 100%;
    }

    .page-whoami ul {
        list-style: none;
    }
}