# 404
#RewriteEngine On
#ErrorDocument 404 http://localhost:8888/weng/me


RewriteEngine on
RedirectMatch "(?i)(.*)me/(tech)" "http://localhost:8888/weng/me?page=$2"
RedirectMatch "(?i)(.*)me/(whoami)" "http://localhost:8888/weng/me?page=$2"
RedirectMatch "(?i)(.*)me/(resume)" "http://localhost:8888/weng/me?page=$2"
RedirectMatch "(?i)(.*)me/(work)" "http://localhost:8888/weng/me?page=$2"
RedirectMatch "(?i)(.*)me/(collab)" "http://localhost:8888/weng/me?page=$2"
RedirectMatch "(?i)(.*)me/(credited)" "http://localhost:8888/weng/me?page=$2"
RedirectMatch "(?i)(.*)me/(contact)" "http://localhost:8888/weng/me?page=$2"
RedirectMatch "(?i)(.*)me/(testimonials)" "http://localhost:8888/weng/me?page=$2"
RedirectMatch "(?i)(.*)me/(students)" "http://localhost:8888/weng/me?page=$2"
RedirectMatch "(?i)(.*)me/(achievements#top-marks)$" "http://localhost:8888/weng/me?page=$2"
RedirectMatch "(?i)(.*)me/(achievements)$" "http://localhost:8888/weng/me?page=$2"
RedirectMatch "(?i)(.*)me/(certs)" "http://localhost:8888/weng/me?page=certs"
RedirectMatch "(?i)(.*)me/(certificates)" "http://localhost:8888/weng/me?page=certs"