# 404
#RewriteEngine On
#ErrorDocument 404 https://www.wengindustry.com

RewriteEngine on
RedirectMatch "(?i)(.*)me/(tech)" "https://www.wengindustry.com/me?page=$2"
RedirectMatch "(?i)(.*)me/(whoami)" "https://www.wengindustry.com/me?page=$2"
RedirectMatch "(?i)(.*)me/(resume)" "https://www.wengindustry.com/me?page=$2"
RedirectMatch "(?i)(.*)me/(work)" "https://www.wengindustry.com/me?page=$2"
RedirectMatch "(?i)(.*)me/(collab)" "https://www.wengindustry.com/me?page=$2"
RedirectMatch "(?i)(.*)me/(credited)" "https://www.wengindustry.com/me?page=$2"
RedirectMatch "(?i)(.*)me/(contact)" "https://www.wengindustry.com/me?page=$2"
