/* Reset CSS */

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Playfair Display";
    src: url(../../assets/fonts/playfair-display/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../../assets/fonts/montserrat/Montserrat-Regular.ttf);
}


/* General */

body {
    background: #5e5853;
    background: linear-gradient(90deg, rgba(94, 88, 83, 1) 0%, rgba(121, 121, 121, 1) 25%, rgba(41, 38, 35, 1) 98%);
}

.author {
    font-size: 80%;
}


/* Utility classes: Flex */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-space-around {
    justify-content: space-around;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-justify-middle {
    justify-content: middle;
}

.display-none {
    display: none;
}

.max-width {
    width: 100%;
}


/* Utility classes: Spacing */

.padding-left-15px {
    padding-left: 15px;
}

.clearfix {
    clear: both;
}


/* Utility class: Center horizontally and vertically */

.center-x-y {
    display: block;
    margin: 0 auto;
    margin-top: 50%;
    transform: translateY(-100%);
}


/* Utility class: Center horizontally */

.center-x {
    display: block;
    margin: 0 auto;
}

.text-bold {
    font-weight: bold;
}


/* Utility classes: Different Devices */

.spacer-vertical-small {
    height: 10px;
}

@media (max-width: 568px) {
    .hidden-xs-down {
        display: none !important;
    }
}

@media (min-width: 568px) {
    .hidden-xs-up {
        display: none !important;
    }
}


/** Header **/

.site-header {
    margin: -7.5px 0 0 0;
    padding: 0;
    background-color: #36322f;
    /* Sticky bar */
    position: sticky;
    top: 0;
    /* Sticky bar scroll threshold for element to stick in place */
    min-height: 100px;
    z-index: 10;
}

.site-header .page-title {
    padding: 5px;
    margin: 15px 0 20px 10px;
    color: white;
    background-color: #453647;
    font-weight: 800;
    box-shadow: 5px 5px #4d4844;
    border-radius: 15px;
    padding: 10px;
    background: #4d4844 url("../../assets/img/coding-stock.jpg") repeat scroll 50% 50%;
    background-size: cover;
    float: left;
}

.site-nav li a {
    color: white;
    text-decoration: none;
    transition: color 500ms;
    letter-spacing: 1px;
}

.site-nav li a:visited {
    color: white;
    text-decoration: none;
    transition: color 500ms;
    letter-spacing: 1px;
}

.site-nav li a:active,
.site-nav li a:hover {
    color: white;
    text-decoration: underline;
}

.site-nav ul {
    padding: 100px 0 0 0;
    /* Menu needs to be lower than hamburger icon */
}

.site-nav ul li {
    padding: 10px 0;
    width: 100%;
    list-style-type: none;
    display: block;
    /* border-top: 1px solid gray; */
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}

.site-nav ul li:hover {
    background-color: rgba(calc(185*1), calc(58*.6), calc(63*.6), .5);
}

.site-nav ul li:last-child {
    margin-right: 20px;
}


/** Mobile First Menu **/

.site-nav-mobile-btn {
    float: right;
    margin: 15px 20px 0 0;
    cursor: pointer;
    /* border: 2px solid #fff; */
    border: 2px solid #FFCB78;
    /* color: rgba(255, 255, 255, 0.8); */
    color: #FFCB78;
    padding: 5px;
}

.site-nav-mobile-btn:hover {
    /* color: rgba(0, 0, 0, 0.8); */
    color: rgba(225, 255, 255, 1);
    /* border: 2px solid rgba(0, 0, 0, 0.8); */
    border: 2px solid rgba(225, 255, 255, 1);
}

.site-nav-mobile-btn.active {
    /* color: black; */
    color: rgba(225, 255, 255, 1);
    /* border: 2px solid rgba(0, 0, 0, 0.6); */
    border: 2px solid rgba(225, 255, 255, 1);
}

.site-nav-mobile-btn.active:hover {
    color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.6);
}

.site-nav-mobile-btn:not(.active)+ul {
    display: none;
}

.site-nav-mobile-btn.active+ul {
    display: block;
}

@media (min-width: 1398px) {
    .site-nav-mobile-btn {
        display: none;
    }
    .site-nav-mobile-btn.active+ul,
    .site-nav-mobile-btn:not(.active)+ul {
        display: block;
    }
    .site-nav ul {
        float: right;
        padding: 20px 5px 0 0;
        font-size: 18px;
    }
    .site-nav ul li {
        display: inline-block;
        text-align: center;
        list-style-type: none;
        width: auto;
        border-top: none;
        margin-left: 60px;
    }
    .site-nav ul li:hover {
        background-color: transparent;
    }
}

.text-bold-colored {
    font-weight: bold;
    color: #FFCB78 !important;
}


/* About Me Slide */


/* Necessary for wrapper to be positioned relatively so the darker background child can be positioned absolutely to it */

.slide-a .wrapper {
    position: relative;
}

.slide-a .background-overlay {
    z-index: 2;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #4a4a4a;
    opacity: 0.67;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.slide-a .slide-hero {
    background-color: black;
    background-image: url("../img/hero-slide-min.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ccc;
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: calc(100vh - 200px);
    z-index: 3;
}

.slide-hero .line {
    -webkit-flex: 0 0 20px !important;
    -ms-flex: 0 0 20px !important;
    flex: 0 0 20px !important;
    -webkit-align-self: auto !important;
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
    z-index: 3;
    color: #fff;
    text-align: center;
}

.slide-hero .line:first-child {
    font-family: "Playfair Display", Sans-serif;
    font-size: 300%;
    text-transform: capitalize;
}

.slide-hero .line:not(:first-child) {
    font-family: "Montserrat", Sans-serif;
    font-size: 500%;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 1.2em;
}

@media SCREEN AND (max-height:631px) {
    .slide-a .line {
        display: none !important;
    }
    .slide-a .tech-overlay {
        bottom: auto !important;
        top: 10px;
    }
}

@media SCREEN AND (max-width: 726px) {
    .line {
        display: none !important;
    }
}

.text-white {
    color: white !important;
    text-decoration: auto;
}

.text-white * {
    color: white !important;
    text-decoration: auto;
}

.f1a {
    font-family: "Playfair Display", Sans-serif;
}

.f1b {
    font-family: "Montserrat", Sans-serif;
    line-height: 2;
    padding-right: 20px;
    /* height: 80vh; */
    overflow-y: scroll;
}

.text-cap {
    text-transform: capitalize;
}

.text-relaxed {
    letter-spacing: 1px;
}

.ucla {
    color: white;
    background-color: #215f9e;
    text-transform: captialize;
    padding-left: 5px;
    padding-right: 5px;
}

.clear-fix {
    clear: both;
}

.tech-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    color: white;
    overflow-x: scroll;
    z-index: 5;
    padding: 5px;
}

.for-hire-hero {
    transition: text-decoration 600ms;
}

.for-hire-hero:hover {
    text-decoration: underline !important;
}

.relaxed-more {
    letter-spacing: 2px;
}

@media screen AND (max-height: 750px) {
    .slide-a .slide-hero {
        justify-content: flex-start;
        padding-top: 20px;
    }
}

@media screen AND (max-width: 600px) AND (min-width: 380px) {
    .wrapper {
        text-align: center;
    }
    .slide-b .bb1 {
        display: block;
        margin: 0 auto;
        transform: translateY(20px);
        width: 100%;
        height: 250px;
        float: none;
    }
    .slide-hero {
        height: 90vh;
    }
}

@media screen AND (max-height: 380px) {
    .slide-a .slide-hero {
        height: 90vh;
    }
}

.github-style {
    height: 20px;
    border-radius: 2.5px;
}

.badge-style {
    max-width: 100%;
}

.badges a:not(:last-child) {
    margin-right: 10px;
}

address {
    display: inline;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Img acting as background-images that can do contain, cover, and positioning */

.img-contain {
    object-fit: contain;
    object-position: 50% 50%;
    /* object-position: 25% 25%;
	 */
    /* default value: image is centered */
    opacity: 0.75;
}

.img-clip-0-0 {
    object-fit: cover;
    object-position: 0 0;
    /* positioned top left of the content box */
}

.img-clip-50-50 {
    object-fit: cover;
    object-position: 50% 50%;
    /* default value: image is centered */
}


/* Section spacing */

@media screen and (max-width: 768px) {
    .section,
    main,
    footer {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) {
    /*Todo: Review;
	 Two value padding/margin means upper/lower and left/right */
    .section,
    main,
    footer {
        margin-bottom: 20px;
    }
    .section .flex,
    main .flex,
    footer .flex {
        padding: 20px 10px;
    }
}


/* Tech section flexing css */

.tech .flex {
    border-radius: 5px;
    transition: background-color 400ms;
}

.tech .flex>div {
    flex-basis: 33%;
    padding: 10px;
}

.tech .flex>div li {
    margin-left: 4ch;
}

@media screen and (max-width: 768px) {
    .tech .flex>div {
        flex-basis: 100%;
        padding-bottom: 20px;
    }
}


/* Project Grid */

.project {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    min-height: 250px;
}

.project .card-body {
    background-color: transparent;
}

.project .card-body:hover {
    background-color: rgba(128, 0, 128, 0.3);
    transition: backgroundColor 500ms;
}


/* Work section other css */

.collab-call-to-action,
.tag-description-line {
    color: white;
    background-color: rgba(0, 0, 0, .5);
    display: inline;
    padding: 2.5px 5px;
}

.tag-description-line {
    font-size: 150%;
}

.work figure,
.collab figure {
    border: 2px solid rgba(41, 38, 35, 0.5);
    position: relative;
    font-size: 70%;
}

.work figure img,
.collab figure img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    z-index: 4;
}

.work figure figcaption,
.collab figure figcaption {
    background-color: rgba(74, 74, 74, .90);
    color: white;
    font-family: "Montserrat";
    padding: 10px;
    position: absolute;
    bottom: 20px;
    left: 0;
    font-size: 75%;
    line-height: 1.5;
    border-top-right-radius: 5px;
    /* Todo: Review;
	 Smooth out specific corner */
    border-bottom-right-radius: 5px;
    overflow-y: scroll;
    text-overflow: ellipsis;
    max-height: 150px;
    z-index: 4;
}

.work figure figcaption h6,
.collab figure figcaption h6 {
    color: white;
}


/** Workaround to the bug where ~1380px wide screen, all the cards collapse into thin cards **/

.work .row,
.collab .row {
    width: 100vw !important;
}

@media screen AND (min-width:850px) AND (max-width:1090px) {
    .img-contain {
        object-position: 0% 0%;
    }
    .work .card,
    .collab .card {
        width: 33.33%;
        min-height: 350px;
    }
    .work figure,
    .collab figure {
        font-size: 80%;
    }
}

@media screen AND (min-width:576px) AND (max-width:850px) {
    .img-contain {
        object-position: 0% 0%;
    }
    .work .card,
    .collab .card {
        width: 33.33%;
        min-height: 275px;
    }
    .work figure,
    .collab figure {
        font-size: 60%;
    }
}

@media screen AND (min-width:1090px) {
    .work figure,
    .collab figure {
        font-size: 110%;
    }
}

.work figure .overlay:hover,
.collab figure .overlay:hover {
    opacity: 0.15;
}

.overlay-toggle-description {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
}

.slide-b .wrapper {
    display: flex;
    height: 80vh;
}

.slide-b .a {
    width: 20vw;
    height: 100%;
    display: inline-block;
    background: #d0e4f5 url("../../assets/img/coding-stock.jpg") repeat scroll 50% 50%;
    background-size: cover;
}

.slide-b .b {
    width: 100%;
    /* height: 80vh; */
    background-color: #e5e4e2;
    /* platinum */
}

.slide-b .bb1 {
    width: 300px;
    height: 100%;
    float: left;
    /* background: rgba(255, 255, 255, 1) url("../../assets/img/me.png") repeat scroll 50% 50%; */
    background: 15px 15px / contain transparent url("../../assets/img/me.png") no-repeat;
    /* background-size: cover; */
    margin-right: 20px;
}

.slide-b .bb2 .va {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    overflow: scroll;
}

.slide-b .bb2 .va .flexie {
    line-height: 150%;
    letter-spacing: 1px;
    /* height: 80vh; */
}

@media (max-height: 736px) {
    .slide-b .bb1 {
        width: 45vw !important;
    }
}

@media (max-height: 530px) {
    .slide-b {
        display: block;
    }
    .slide-b .wrapper .a {
        width: 100vw !important;
    }
    .slide-b .bb1 {
        width: 40vw !important;
    }
    .slide-b .bb2 .va {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media (max-width: 825px) {
    .slide-b .wrapper {
        /* margin-top: -22px; */
        display: block;
    }
    .slide-b .a {
        display: none !important;
    }
}

@media (max-width: 770px) {
    .slide-b .bb2 {
        line-height: 100%;
        font-size: 90%;
    }
    .slide-b .b {
        height: 850px !important;
    }
    .slide-b .bb1 {
        background: 15px 15px / contain no-repeat url("../../assets/img/me2.jpg") !important;
    }
}

@media (max-width: 450px) {
    .slide-b .bb1 {
        width: 40vw !important;
    }
}

#about-anchor {
    margin-top: 30px;
}


/* Project Grid: Github link */


/* .add-github-link {
    z-index: 5;
    padding: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.8rem;
    line-height: 1.5;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
} */

.add-github-link a {
    color: gray;
    text-decoration: none;
}

.add-github-link a:hover {
    color: lightgray;
}

#work,
#collab {
    margin-top: 40px;
    padding: 20px 0 !important;
}

.work figure .overlay:hover,
.collab figure .overlay:hover {
    opacity: 0.15;
}


/** Overlay eye toggle icon and if applicable Github icon on project grids **/

.overlay-toggle-description a:not(:last-child) {
    margin-right: 2ch;
}

.overlay-toggle-description a {
    color: gray !important;
    cursor: pointer;
}

.overlay-toggle-description a:hover {
    color: white !important;
}


/* Credited section that's a nested section of Work */

.credited {
    grid-column-end: span 8;
    margin-top: 20px;
    transition: background-color 400ms;
    padding: 10px;
}

.credited li {
    display: block;
}

.credited li::marker,
.credited li::before {
    content: "";
}

.credited li details summary {
    margin: 5px 0;
}

.credited li details summary::-webkit-details-marker {
    display: none;
}

.credited li details>div {
    margin: 5px 18px;
}

.credited li details .fa-info {
    margin-right: 1ch;
    cursor: pointer;
}

.credited:hover .text-med {
    transition: color 400ms;
}

.credited.flushed-to-grid {
    width: 100% !important;
}

#credited {
    background: rgba(41, 38, 35, 1);
    background: linear-gradient(90deg, rgba(94, 88, 83, 1) 0%, rgba(121, 121, 121, 1) 25%, rgba(41, 38, 35, 1) 98%);
    color: white;
}

#credited a {
    color: white;
}

#credited a:hover {
    color: darkgray !important;
}

details div {
    padding-left: 10px;
}


/* Footer section */

.footer-spacer {
    width: 1px;
    height: 50px;
    z-index: 1;
}

.footer {
    width: 100vw;
    color: rgba(255, 255, 255, 0.8);
    z-index: 6;
}

.footer ul {
    padding: 0;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: scroll;
    /* height: 2.5rem; */
    width: 100%;
    white-space: nowrap;
    text-align: center;
}


/* Hide ugly horizontal scroller but still allow scrolling */

.footer ul {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.footer ul::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.footer li {
    text-align: center;
    display: inline;
    transition: border 500ms;
}

.footer li:not(:last-child) {
    margin-right: 10vw;
}

@media (max-width:1380px) {
    .footer li:not(:last-child) {
        margin-right: 5vw;
    }
}

@media (max-width:850px) {
    .footer li:not(:last-child) {
        margin-right: 20px;
    }
}

.footer li a {
    transition: color 500ms;
    text-decoration: none;
}

footer a {
    color: white;
}

footer a:hover {
    color: darkgray;
}

footer {
    margin: 0 !important;
    background-color: rgba(41, 38, 35, 1);
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 0;
    position: fixed;
    bottom: 0;
}


/** Resume section */

.resume {
    position: relative;
}

.resume iframe {
    width: 100vw;
    min-height: calc(100vh - 200px);
    z-index: 1;
}

.download-resume {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(41, 38, 35, 1);
    color: rgba(calc(185*1), calc(58*.6), calc(63*.6), .5);
    padding: 10px;
    border-bottom-left-radius: 10px;
}


/** Contact section **/

.contact form {
    width: 100%;
    margin: 0 auto;
    border: 2px solid rgba(41, 38, 35, .9);
    border-radius: 10px;
}

@media (min-width:650px) {
    .contact form {
        width: 80%;
    }
}

@media (min-width:900px) {
    .contact form {
        width: 50%;
    }
}

.contact label {
    width: 100px;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: right;
    padding-right: 1ch;
}

.contact input {
    border: 1px solid rgba(41, 38, 35, .75);
    border-radius: 5px;
    color: rgba(41, 38, 35, 1);
}

.contact button {
    width: 200px;
    float: right;
    color: gray !important;
    background-color: rgba(41, 38, 35, 1) !important;
    border-color: rgba(60, 50, 45, .5) !important;
    transition: background-color .2s, color .2s, border-color .2s;
}

.contact button:hover {
    color: white !important;
    border-color: rgba(41, 38, 35, 1) !important;
    background-color: rgba(60, 50, 45, .5) !important;
}

.contact .error {
    display: block;
}

.contact .error span:empty {
    display: none;
    height: 0;
}

.contact .error span {
    text-align: right;
    padding: 10px;
    color: black;
    background-color: rgba(41, 38, 35, .5);
    margin-bottom: 10px;
    float: right;
    transition: height .2s, display .2s;
}

.contact .message {
    height: 150px;
}

.contact .message::placeholder {
    vertical-align: text-top;
}


/* Contact form: Message that you submitted */

.modal-header,
.modal-footer {
    border: 0;
}


/* WhoAmI next version */

.sides {
    display: table;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    column-gap: 10px;
    height: calc(100vh - 100px - 50px);
}

.side-a {
    margin-top: 10px;
    background: #d0e4f5 url(../../assets/img/coding-stock.jpg) repeat scroll 50% 50%;
    min-width: 10vw;
    height: 100%;
    display: table-cell;
}

.side-b {
    background: 15px 30px / contain transparent url(../../assets/img/me.png) no-repeat;
    background-color: #e5e4e2;
    min-width: 20vw;
    height: 100%;
    display: table-cell;
    margin-top: 20px;
}

.side-c {
    display: table-cell;
    background-color: #e5e4e2;
    padding-left: 15px;
    padding-right: 15px;
}

img.me {
    margin-top: 15px;
    max-height: 250px;
}

@media screen AND (min-width:950px) {
    .hidden-950px-up {
        display: none;
    }
}

@media screen AND (max-width:950px) {
    .side-b {
        display: none;
    }
}

.contributions {
    vertical-align: middle;
    max-width: 60vw;
    margin: 10px auto;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    font-weight: 800;
}

.flushed-left,
.flushed-right {
    height: 100vh;
    width: 4ch;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.flushed-left {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
}

.flushed-right {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
}

.text-gray {
    color: gray !important;
}

.spacer-50px {
    width: 10px;
    height: 50px;
}

.rotation {
    margin-left: 20vw;
    margin-right: 20vw;
    max-width: 60vw;
    text-align: center;
}

.rotation img {
    width: 100%;
}

.rotation.rotation-2 img {
    width: 75%;
}

@media screen AND (min-width: 500px) {
    .rotation {
        margin-left: 5vw;
        margin-right: 5vw;
        max-width: 90vw;
    }
}

@media screen AND (max-width: 500px) {
    .tag-description-line {
        font-size: 85%;
    }
}

@media screen AND (min-width: 900px) {
    .rotation {
        margin-left: 10vw;
        margin-right: 10vw;
        max-width: 80vw;
    }
}

.rotation-2 img {
    margin-bottom: 10px;
}

.rotation-3 img {
    margin-bottom: 10px;
}