/*
 * If a section has very few projects, then the template rows will need to be adjusted so there won't be large spaces
 *
 */


/* Vertical spaces (next two rulesets) */

.collab .project {
    grid-row: auto !important;
}

.collab .grid {
    grid-template-rows: auto !important;
}


/* Remove when you have more collab projects (next two rulesets) */

.collab .grid {
    grid-template-columns: repeat(6, 1fr);
}

.collab .grid {
    grid-template-columns: repeat(2, 1fr) !important;
}