/** Header **/

.site-header {
    margin: -15px 0 0 0;
    padding: 0 10px;
    background-color: rgb(54, 50, 47);
    ;
    /* Sticky bar */
    position: -webkit-sticky;
    /* Safari support */
    position: sticky;
    top: 0;
    /* Sticky bar scroll threshold for element to stick in place */
}


/** Header title **/

.site-header .page-title {
    display: inline-block;
    padding: 5px;
    margin: 20px 0 20px 0;
    border-radius: 5px;
    color: white;
    background-color: rgb(69, 54, 71);
    font-weight: 800;
    box-shadow: 5px 5px rgb(77, 72, 68);
    border-radius: 15px;
    padding: 10px;
    background: rgb(77, 72, 68) url("../../assets/img/coding-stock.jpg") repeat scroll 50% 50%;
    background-size: cover;
}


/** Header title shows before menu item **/

.site-header {
    min-height: 100px;
    z-index: 10;
}

.site-header .page-title {
    float: left;
}


/* General menu styling */

.site-nav li a,
.site-nav li a:visited {
    color: white;
    text-decoration: none;
    transition: color 500ms;
    letter-spacing: 1px;
    ;
}

.site-nav li a:active,
.site-nav li a:hover {
    color: white;
    text-decoration: underline;
}


/** Mobile First Menu **/

.site-nav ul {
    padding: 100px 0 0 0;
    /* Menu needs to be lower than hamburger icon */
}

.site-nav ul li {
    padding: 10px 0;
    width: 100%;
    list-style-type: none;
    display: block;
    border-top: 1px solid gray;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}

.site-nav ul li:hover {
    background-color: var(--crunchier);
}

.site-nav-mobile-btn {
    float: right;
    margin-top: 15px;
    cursor: pointer;
    border: 2px solid black;
    padding: 5px;
}

.site-nav-mobile-btn:hover {
    color: rgb(255, 255, 255);
    border: 2px solid rgba(255, 255, 255, .8);
}

.site-nav-mobile-btn.active {
    color: rgba(255, 255, 255, .8);
    border: 2px solid rgba(255, 255, 255, .6);
}

.site-nav-mobile-btn.active:hover {
    color: rgba(255, 255, 255, .8);
    border: 2px solid rgba(255, 255, 255, .6);
}

.site-nav-mobile-btn:not(.active)+ul {
    display: none;
}

.site-nav-mobile-btn.active+ul {
    display: block;
}

@media (min-width: 1060px) {
    .site-nav-mobile-btn {
        display: none;
    }
    .site-nav-mobile-btn.active+ul,
    .site-nav-mobile-btn:not(.active)+ul {
        display: block;
    }
    .site-nav ul {
        float: right;
        padding: 20px 0 0 0;
        font-size: 18px;
    }
    .site-nav ul li {
        display: inline-block;
        text-align: center;
        list-style-type: none;
        width: auto;
        border-top: none;
        margin-left: 60px;
    }
    .site-nav ul li:hover {
        background-color: transparent;
    }
}