/* Reset CSS */

 :root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Playfair Display";
    src: url(../../assets/fonts/playfair-display/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../../assets/fonts/montserrat/Montserrat-Regular.ttf);
}


/* Necessary for wrapper to be positioned relatively so the darker background child can be positioned absolutely to it */

.slide-a .wrapper {
    position: relative;
}

.slide-a .background-overlay {
    z-index: 2;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #4a4a4a;
    opacity: .67;
    transition: background .3s, border-radius .3s, opacity .3s;
}

.slide-a .slide-hero {
    background-color: black;
    /* background: url("../img/hero-slide-min.png") no-repeat fixed 50% 50%; */
    background-image: url("../img/hero-slide-min.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    z-index: 3;
}

.slide-hero .line {
    -webkit-flex: 0 0 20px !important;
    -ms-flex: 0 0 20px !important;
    flex: 0 0 20px !important;
    -webkit-align-self: auto !important;
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
}

.slide-hero .line {
    z-index: 3;
    color: #fff;
    text-align: center;
}

.slide-hero .line:first-child {
    font-family: "Playfair Display", Sans-serif;
    font-size: 300%;
    text-transform: capitalize;
}

.slide-hero .line:not(:first-child) {
    font-family: "Montserrat", Sans-serif;
    font-size: 500%;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 1.2em;
}

.text-white,
.text-white * {
    color: white !important;
    text-decoration: auto;
}

.f1a {
    font-family: "Playfair Display", Sans-serif;
}

.f1b {
    font-family: "Montserrat", Sans-serif;
}

.text-cap {
    text-transform: capitalize;
}

.text-relaxed {
    letter-spacing: 1px;
}

.ucla {
    color: white;
    background-color: rgb(33, 95, 158);
    text-transform: captialize;
    padding-left: 5px;
    padding-right: 5px;
}

.clear-fix {
    clear: both;
}

.tech-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    color: white;
    overflow-x: scroll;
    z-index: 5;
    padding: 5px;
}

.for-hire-hero:hover {
    text-decoration: underline !important;
}

.for-hire-hero {
    transition: text-decoration 600ms;
}

.relaxed-more {
    letter-spacing: 2px;
}

@media (max-width:600px) {
    .slide-hero {
        height: 110vh;
    }
}

body {
    background: rgb(94, 88, 83);
    background: linear-gradient(90deg, rgba(94, 88, 83, 1) 0%, rgba(121, 121, 121, 1) 25%, rgba(41, 38, 35, 1) 98%);
}

@media (max-height: 750px) {
    .slide-a .slide-hero {
        justify-content: flex-start;
        padding-top: 20px;
    }
}

@media (max-height: 380px) {
    .slide-a .slide-hero {
        height: 120vh;
    }
}

.github-style {
    height: 20px;
    border-radius: 2.5px
}

.badge-style {
    max-width: 100%;
}

.badges a:not(:last-child) {
    margin-right: 10px;
}

address {
    display: inline;
}